.git
.gitignore
.idea
.vscode
.cursor
**/.env
**/.env.*
**/node_modules
backend/src/vendor
backend/src/public/build
backend/src/public/hot
backend/src/public/storage
backend/src/storage/*
!backend/src/storage/.gitignore
backend/src/bootstrap/cache/*.php
backend/docker/postgres
backend/docker/redis
backend/docker/pgadmin
backend/docker/php/logs
backend/docker/nginx/certs
backend/docker/nginx/htpasswd
backend/docker/nginx/logs
demo1
grabber
css
js
docker
*.log
*.pid
*.pid.lock
